<div ng-cloak>
	<md-content>
		<md-tabs md-dynamic-height md-border-bottom>
			<md-tab label="Cadastro">
				<md-content class="md-padding">
					<h1></h1>
					<div class="section">
						<md-content layout-gt-sm="row" layout-padding>
								<md-input-container style="width:30%">
									<label>Nome</label>
									<input ng-model="medico.nome"/>
								</md-input-container>
						</md-content>	
						<md-content layout-gt-sm="row" layout-padding>
							<md-input-container>
							 <md-button class="md-raised">CADASTRAR</md-button>
							</md-input-container>
							<md-input-container>
							 <md-button class="md-raised md-primary">CANCELAR</md-button>
							</md-input-container>
						</md-content>
						
					</div>
				</md-content>
			</md-tab>
			<md-tab label="Consulta">
				<md-content class="md-padding">
					<h1></h1>
					
				</md-content>
			</md-tab>
		</md-tabs>
	</md-content>
</div>