<div ng-cloak>
	<md-content>
		<md-tabs md-dynamic-height md-border-bottom>
			<md-tab label="Cadastro">
				<md-content class="md-padding">
					<h1></h1>
					<div class="section">
						<md-content layout-gt-sm="row" layout-padding>
								<md-input-container style="width:10%">
									<label>Nome</label>
									<input ng-model="medico.nome"/>
								</md-input-container>
								
								<md-input-container style="width:30%">
									<label>SobreNome</label>
									<input ng-model="medico.sobrenome"/>
								</md-input-container>
								
								<md-input-container>
									<label>CRM</label>
									<input ng-model="medico.crm"/>
								</md-input-container>
								
								<md-input-container style="width:10%">
									<label>CPF</label>
									<input ng-model="medico.cpf"/>
								</md-input-container>
						</md-content>
						<md-content layout-gt-sm="row" layout-padding>
								<md-input-container style="width:10%">
									<label>CEP</label>
									<input ng-model="medico.cep"/>
								</md-input-container>
								
								<md-input-container style="width:30%">
									<label>Rua</label>
									<input ng-model="medico.rua">
								</md-input-container>
								<md-input-container style="width:5%">
									<label>N° </label>
									<input ng-model="medico.numero"/>
								</md-input-container>
								
								<md-input-container style="width:30%">
									<label>Bairro</label>
									<input ng-model="medico.bairro">
								</md-input-container>
								
								<md-input-container style="width:30%">
									<label>Cidade</label>
									<input ng-model="medico.cidade">
								</md-input-container>
								
						</md-content>
						<md-content layout-gt-sm="row" layout-padding>
							<md-input-container style="width:10%">
									<label>Agencia</label>
									<input ng-model="medico.agencia"/>
								</md-input-container>
								
								<md-input-container style="width:30%">
									<label>Conta</label>
									<input ng-model="medico.conta">
								</md-input-container>
						</md-content>
					</div>
				</md-content>
			</md-tab>
			<md-tab label="Consulta">
				<md-content class="md-padding">
					<h1></h1>
					
				</md-content>
			</md-tab>
		</md-tabs>
	</md-content>
</div>